:root{
    --fonte-padrão:Arial;
    --tamanho-fonte: 1.25rem;
}

body{
    font-family: var(--fonte-padrão);
    font-size: var(--tamanho-fonte);

    
}

.borda{
    border-bottom: 3px solid rgb(122, 122, 122);
}

.perfil{
    width: 150px;
    border-radius: 10px;
    transition: 0.7s;
}

.perfil:hover{
    width: 300px;
}

.santa-cecilia, .vertex{
    font-weight: bold;
}

.ajustar-unisanta, .ajustar-vertex{
    display: flex;
    align-items: center;
}

.logo-unisanta, .logo-vertex{
    margin-left: 10px;
    margin-right: 50px;
}

table{
    text-align: left;
}

table th{
    border: 2px solid rgb(201, 200, 200);  
    background-color: rgb(221, 221, 221);
}

table td{
    border: 2px solid rgb(201, 200, 200);  
}

label{
    display: block;
    font-weight: bold;
}

li > a{
    font-weight: bold;
    color: black;
}

ul {
    list-style-image: url('');
  }

textarea{
    width: 245px;
    height: 200px;
    margin-bottom: 15px ;
}

#email{
    width: 245px;
    margin-bottom: 15px;
}

button{
    font-size: 1.125rem;
    width: 100px;
    height: 50px;
    display: block;
    padding: 10px 15px 10px 15px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
}

button:hover{
    background-color: rgba(128, 128, 128, 0.842);
}